<div class="container">
    <div>
        <a class="btn btn-primary" href="insert.php">Vytvořit novou osobu</a>
    </div>
    <table class="table table-striped mt-3">
        <tr>
            <th>Jméno</th>
            <th>Místnosti</th>
            <th>Telefon</th>
            <th>Pozice</th>
            <th colspan="2">Akce</th>
        </tr>
        {{#employees}}
            <tr>
                <td><a href="detail.php?employee_id={{employee_id}}">{{name}}</a></td>
                <td>{{room_name}}</td>
                <td>{{room_phone}}</td>
                <td>{{job}}</td>
                <td>
                    <form method="get" action="update.php">
                        {{#admin}}
                            <input type="submit" value="Editovat" class="btn btn-info">
                        {{/admin}}
                        {{^admin}}
                            <input type="submit" value="Editovat" class="btn btn-info" disabled>
                        {{/admin}}
                        <input type="hidden" name="room_id" value="{{room_id}}">
                    </form>
                </td>
                <td>
                    <form method="post" action="delete.php">
                        <input type="submit" value="Smazat" class="btn btn-danger" onclick="return confirm('Opravdu chcete odebrat zaměstnance?')">
                        <input type="hidden" name="room_id" value="{{room_id}}">
                    </form>
                </td>
            </tr>
        {{/employees}}
    </table>
</div>
