<div class="container">
    <div>
        {{#is_admin}}
                <a class="btn btn-primary" href="insert.php">Vytvořit novou osobu</a>
        {{/is_admin}}
    </div>
    <table class="table table-striped mt-3">
        <tr>
            <th>Jméno</th>
            <th>Místnosti</th>
            <th>Telefon</th>
            <th>Pozice</th>
            <th colspan="2">Akce</th>
        </tr>
        {{#employees}}
            <tr>
                <td><a href="detail.php?employee_id={{employee_id}}">{{name}}</a></td>
                <td>{{room_name}}</td>
                <td>{{room_phone}}</td>
                <td>{{job}}</td>
                <td>
                    <form method="get" action="update.php">
                        {{#is_admin}}
                            <input type="submit" value="Editovat" class="btn btn-info">
                        {{/is_admin}}
                        {{^is_admin}}
                            {{#ableToManage}}
                                    <input type="submit" value="Editovat" class="btn btn-info" >
                            {{/ableToManage}}
                        {{/is_admin}}
                        <input type="hidden" name="employee_id" value="{{employee_id}}">
                    </form>
                </td>
                <td>
                    <form method="post" action="delete.php">
                    {{#is_admin}}
                        {{^ableToManage}}
                            <input type="submit" value="Smazat" class="btn btn-danger" onclick="return confirm('Opravdu chcete odebrat zaměstnance?')">
                            <input type="hidden" name="employee_id" value="{{employee_id}}">
                        {{/ableToManage}}
                        {{#ableToManage}}
                            <input type="submit" disabled value="Smazat" class="btn btn-danger" onclick="return confirm('Opravdu chcete odebrat zaměstnance?')">
                        {{/ableToManage}}
                    {{/is_admin}}
                    </form>
                </td>
            </tr>
        {{/employees}}
    </table>
</div>
