<div class="page_header__nav ">

    <div class="page_header__container container">

        <div class="page_header__title-container">
            <img class="page_header__icon-database" src="/public/img/icons/database-icon.svg">
            <h1 class="page_header__title"><a class="page_header__title-link" href="/">Prohlížeč databáze</a></h1>
        </div>

        <ul class="page_header__list">

            <li class="page_header__list-item">
                <a href="/room/list.php" class="page_header__link">Místnosti</a>
            </li>

            <li class="page_header__list-item">
                <a href="/staff/list.php" class="page_header__link">Lidé</a>
            </li>

        </ul>

        <div class="page_header__login-container">
            <a href="#" class="page_header__login-link">Přihlásit se</a>
            <img class="page_header__icon-login" src="/public/img/icons/login-icon.svg">
        </div>

    </div>


</div>