<div class="container">
    <div class="form-wrapper" style="width: 65%; margin: 0 auto; padding-top: 200px ">

        <h1>Změna hesla pro uživatele <p style="color: #FFAA33; display: inline-block"> {{user}} </p></h1>
        <form method="post" name="password" style="display: flex; flex-direction: column; align-items: center">

            <div class="form-group">
                <input style="width: 550px" type="password" class="form-control" id="password" name="password" placeholder="Vložte nové heslo" required>
            </div>
            <button style="margin: 10px auto; width: 150px; text-align: center" type="submit" class="btn btn-primary">Změnit heslo</button>

        </form>

    </div>

</div>